/* ==========================================================================
 Custom fonts
 ========================================================================== */
body{
    font-family: 'Whitney SSm A', 'Whitney SSm B'; 
    font-weight: 400; 
    font-style: normal;
    line-height: 1.65;
}
b,strong,h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.ie8 body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.428571429;
}
/* 
 Active navigation item

*/
.theme-blog #site-top-nav > div#nav-blog > a{
background-color: white;
color: #428BCA;
text-decoration: none;
-moz-box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
-webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
}
/* ==========================================================================
 Page - put some space between blue nav bar and real content
 ========================================================================== */
#page{
    margin-top: 20px;
    margin-top: 2rem;
}
/* ==========================================================================
 Hero post
 ========================================================================== */
#hero{
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
#hero-title{

}
#hero-title h1{
    font-size: 28px;
    font-size: 2.80rem;
}
#hero-title p{
    font-weight: 700;
}
#hero-desc{

}
#hero-desc img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
#hero-desc p{
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

/* ==========================================================================
 Pinned posts
 ========================================================================== */
#pinned-inner {
    background: #ededed;
    padding: 14px;
    padding: 1.4rem;
    overflow: hidden;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
.pinned-post{
    padding-left:0;
    padding-right:0;
}
.pinned-post:first-child .pinned-post-inner{
    padding-right:7px;
}
.pinned-post:first-child + .pinned-post .pinned-post-inner{
    padding-left:7px;
}
.pinned-post-inner img{
    max-width: 100%;
    height: auto;
    margin-bottom: 7px;
    margin-bottom: 0.7rem;
}
.pinned-post-inner h2{
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 0;
}
/* ==========================================================================
 Blog roll (post-stubs)
 ========================================================================== */
.post-stub{
    border-top: 1px solid #eee;
    margin-top: 20px;
}
.post-stub:first-child{
    border-top:0;
    margin-top:0;
}


.post-stub .entry-header{
    position:relative;
    padding-left:114px;
    /*padding-left:220px;*/
}

.post-stub .entry-header img{
    position:absolute;
    top:0;
    left:0;
}
.post-stub .entry-summary{
    margin-left:114px;
    /*margin-left:220px;*/
}
@media (max-width:767px){
    .post-stub .entry-header{
        padding-left:0px;
    }
    .post-stub .entry-header img{
        position:static;
        top:0;
        left:0;
        display:block;
        margin-bottom:10px;
    }
    .post-stub .entry-summary{
        margin-left: 0;
    }
}

/* ==========================================================================
 Extra content ("here be widgets")
 ========================================================================== */
#secondary {
    padding-right: 0 !important;
}
#secondary .widget h3{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    overflow: hidden;

/* styles for .apnic-sprite-colours */
    background-image: url('https://www.apnic.net/__data/assets/image/0009/71478/apnic-sprite-colours.png');

}
#secondary .widget h3 span{
    display: block;
    float: left;
    padding: 0.5em 0.75em;
    width: 100%;
    max-width: 218px;
}
.ie8 #secondary .widget h3 span{
    max-width: 195px;
}
#secondary .widget ul{
    list-style: none;
    margin-left: 0;
    padding: 0.5em 0 0.5em 0;
}
#secondary .widget ul li{
    margin-left: 1em;
}
#secondary .widget ul li a{
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#secondary .widget ul li a:before{
    content: '▶';
    font-size: 0.8em;
    display: inline-block;
    margin-right: 0.5em;
}
#secondary .widget ul li a:hover{
    text-decoration: underline;
    color: black;
}
/* ==========================================================================
 Mobile tweaks to Extra content
 ========================================================================== */
@media (max-width: 991px) {
    #secondary {
        padding-right: 15px !important;
    }
}
/* ==========================================================================
 Extra content ("See also") colour themes
 ========================================================================== */
#secondary .widget ul{
    background: #00ade6;
    background: #eee;
}
#secondary .widget h3{
    background-color: #002598 !important;
}
#secondary .widget h3 span {
    background-position: -752px -348px;
}

/* ==========================================================================
 Social media icons extra content tweaks
 ========================================================================== */
#secondary .social-media-icons-widget ul{
    background-color: #fff !important;
}
#secondary .social-media-icons-widget{
    text-align: center;
}
#secondary .widget ul#social-media-icons {
    overflow:hidden;
    width: 270px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}
#secondary .widget ul#social-media-icons li {
    margin: 0 24px 24px 0;
    float:left;
}
#secondary .widget ul#social-media-icons li a:before{
    content: "";
    display: none;
}
#secondary .widget ul#social-media-icons li:first-child + li + li + li, 
#secondary .widget ul#social-media-icons li:first-child + li + li + li + li + li + li + li {
    margin-right: 0px;
}
#secondary .widget ul#social-media-icons li:first-child + li + li + li + li{
    clear:left;
}

@media (max-width:1199px){
    #secondary .widget ul#social-media-icons {
        width: auto;
    }
    #secondary .widget ul#social-media-icons li {
        margin-right: 11px;
    }
    #secondary .widget ul#social-media-icons li:first-child + li + li + li, 
    #secondary .widget ul#social-media-icons li:first-child + li + li + li + li + li + li + li {
        margin-right: 0px;
    }
    #secondary .widget ul#social-media-icons li:first-child + li + li + li + li{
        clear:none;
    }
}
@media (max-width:991px){
    #secondary .widget ul#social-media-icons {
        width: auto;
    }
    #secondary .widget ul#social-media-icons li {
        margin-right: 24px;
    }
    #secondary .widget ul#social-media-icons li:first-child + li + li + li, 
    #secondary .widget ul#social-media-icons li:first-child + li + li + li + li + li + li + li {
        margin-right: 24px;
    }
    #secondary .widget ul#social-media-icons li:first-child + li + li + li + li{
        clear:none;
    }
}


/* ==========================================================================
 Space on li items when wanted (aka paragraph, leading, line-spacing, etc)
 ========================================================================== */
ul.paragraph li, ul.para li, ul.p li, ul.leaded li, ul.leading li, ul.line-spacing li, ul.line-space li, ul.line-spaced li, ol.leaded li, ol.leading li, ol.line-spacing li, ol.line-space li, ol.line-spaced li{
    margin: 0 0 10px;
}
ul.list-indented, ul.indented, ul.indent, p.indented, p.indent{
    margin-left: 20px;
    margin-left: 2rem;
} 
ol.upper-roman {list-style-type:upper-roman}
ol.lower-alpha {list-style-type:lower-alpha}
ol.decimal {list-style-type:decimal;}


/* ==========================================================================
 Lines and spacing on heading/title of post page
 ========================================================================== */
.single .entry-header #social_media_widgets {margin-top:20px;}
.single .entry-header{border-bottom: 1px solid #eee;margin-bottom: 10px}

.single .post{border-bottom: 1px solid #eee;margin-bottom: 20px;}

.single .attachment-featuredImageLarge{width:100%;max-width:100%;height:auto;margin-top:0px;margin-bottom: 10px;margin-bottom: 1rem;}

h1,
.single h1{
    font-size: 28px;
    font-size: 2.80rem;
    color: #333 !important;
}
.single p.meta-author-and-date{
    font-weight: 700;
}

/* ==========================================================================
 Iframing defaults for twitter, flickr, youtube, etc
 ========================================================================== */
iframe.iframe-to-flickr,iframe.iframe-to-youtube{
    width: 555px;
    height: 370px;
}
.single iframe.iframe-to-slideshare{
    width: 555px;
    height: 453px;
}
.home iframe.iframe-to-flickr,.home iframe.iframe-to-youtube{
    width: 555px;
    height: 400px;
}

.iframe-wrapper{text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.iframe-wrapper iframe{margin-left:auto;margin-right:auto;text-align:left;}

object{max-width: 100%;}
@media (max-width:1199px){
    iframe.iframe-to-flickr,iframe.iframe-to-youtube{
        width: 445px;
        height: 297px;
    }
}
@media (max-width:767px){
    iframe.iframe-to-flickr,iframe.iframe-to-youtube,
    .single iframe.iframe-to-flickr,.single iframe.iframe-to-youtube{
        width: 300px;
        height: 200px;
    }
}



.apnic-sprite-socialmedia {
    background-image: url('../img/blog-social-media-icons-sprite.png');
}
.socialmedia-facebook:hover{   background-position: 0 50px;      }
.socialmedia-weibo:hover{      background-position: -50px 50px;  }
.socialmedia-twitter:hover{    background-position: -100px 50px; }
.socialmedia-youtube:hover{    background-position: -150px 50px; }
.socialmedia-slideshare:hover{ background-position: -200px 50px; }
.socialmedia-flickr:hover{     background-position: -250px 50px; }
.socialmedia-linkedin:hover{   background-position: -300px 50px; }
.socialmedia-rss:hover{        background-position: -350px 50px; }

/* form */
/* ==========================================================================
 
 ========================================================================== */

/* Co-hover styles */
/* ==========================================================================
 
 ========================================================================== */
a.hovered{
    color:#2a6496;
    text-decoration: underline;
}

/* ==========================================================================
 Hide assistive/screen-reader text by default
 ========================================================================== */
.assistive-text,
.site .screen-reader-text {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
}


/* ==========================================================================
 ??
 ========================================================================== */
.page-header{margin: inherit;}
h2.search-page-title{margin-top:10px;}

/* ==========================================================================
 404 page tweaks
 ========================================================================== */
.error404 .post{
    padding-bottom: 300px;
}
@media (max-width:767px){
    .error404 .post{
        padding-bottom: 0;
    }
}

/* ==========================================================================
  Widget: Mailform / newsletter widget
 ========================================================================== */
.widget_wysija form{
    background: #00ade6;
    padding: 10px; 
    padding: 1rem; 
    margin-bottom: 10px;
    margin-bottom: 1rem; 
}
.widget_wysija form .wysija-input{
    border: 1px solid #808080;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding-left: 10px;
    width: 100%;
}
.widget_wysija form .wysija-submit{
  background: #808080;
    border: 1px solid #808080;
    color: white;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 8px;
}
.widget_wysija form .wysija-submit:hover{
  background: #555555;
}
#secondary .widget_wysija form .wysija-msg ul{
    background: #eee !important;
}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: #eee;
    border-color: #fff;
}

/* options / control for mailing list select */
#get-updates-options {margin-top:10px;margin-left:10px;}
#get-updates-options p{color: #fff;}
#get-updates-options label{font-weight: normal;}
#get-updates-options-control{color: white;cursor:pointer;float:right;}
#get-updates-options-control:hover{text-decoration: underline;}

/* ==========================================================================
 Widget: Twitter widget
 ========================================================================== */
#secondary #reallysimpletwitterwidget-3 ul {
    transition: color 0.5s ease;
    background: #ededed;
    padding: 0;
    color: #333;
}
#secondary #reallysimpletwitterwidget-3 ul.unfocused {
    color: #858585;
}
#secondary #reallysimpletwitterwidget-3 ul.unfocused li a{
    color: #a1b9df;
}
#secondary #reallysimpletwitterwidget-3 ul li{
    border-top: 1px solid #dcdcdc;
    margin:0;
    padding:8px 10px;
    font-size: 12px;
}
#secondary #reallysimpletwitterwidget-3 ul li:hover{
    background: #fff;
    color: #333;
}
#secondary #reallysimpletwitterwidget-3 ul li:hover a{
    color: #428BCA;
}
#secondary #reallysimpletwitterwidget-3 ul li:first-child{
    border-top: 0;
}
#secondary #reallysimpletwitterwidget-3 ul li a{
    color: #428BCA;
    padding-top: 0;
    padding-bottom: 0;
    transition: color 0.5s ease;
}
#secondary #reallysimpletwitterwidget-3 ul li a:before{
    content:"";
    display:none;
}

/* ==========================================================================
 Widget: Author widget
 ========================================================================== */

#secondary #authors-2 a#author-all-a{outline:0;}
#secondary #authors-2 a#author-all-a:before{
    content: '▼';
    font-size: 0.9em;
}
#secondary #authors-2 a#author-all-a.less:before{
    content: '▲';
    font-size: 0.9em;
}

/* ==========================================================================
  Widget: Toggle on tag cloud, categories and archive widget
 ========================================================================== */
#secondary .widget_tag_cloud_dynamic h3,
#secondary .widget_archive_dynamic h3,
#secondary .widget_categories_dynamic h3{
    cursor: pointer;
    position: relative;
}
#secondary .widget_tag_cloud_dynamic h3 span,
#secondary .widget_archive_dynamic h3 span,
#secondary .widget_categories_dynamic h3 span{
    text-decoration: none;
    /* make text not selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#secondary .widget_tag_cloud_dynamic h3 span:hover,
#secondary .widget_archive_dynamic h3 span:hover,
#secondary .widget_categories_dynamic h3 span:hover{
    text-decoration: underline;
}

#secondary .widget_tag_cloud_hidden h3 span:after,
#secondary .widget_archive_hidden h3 span:after,
#secondary .widget_categories_hidden h3 span:after{
    content: '▼';
    font-size: 0.9em;
    position: absolute;
    right: 10px;
    top: 10px;
}
#secondary .widget_tag_cloud_visible h3 span:after,
#secondary .widget_archive_visible h3 span:after,
#secondary .widget_categories_visible h3 span:after{
    content: '▲';
    font-size: 0.9em;
    position: absolute;
    right: 10px;
    top: 10px;
}

#secondary .widget_tag_cloud_hidden h3,
#secondary .widget_archive_hidden h3,
#secondary .widget_categories_hidden h3{margin-bottom:10px !important;}

/* ==========================================================================
  Widget: Tag Cloud
 ========================================================================== */
#secondary .widget_tag_cloud div{
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

/* ==========================================================================
 Comments
 ========================================================================== */

#comments{
    background: #eee;
    padding: 10px 20px;
    padding: 1rem 2rem;
    font-size: 12px;
    margin-top: 10px;
    margin-top: 1rem;
    border-top: 1px solid #eee;
}

#comments h2.comments-title{
    font-size: 18px;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}
#comments .commentlist {
    margin-left:0;
    padding-left:0;
}
#comments .commentlist > li{
    list-style-type: none;
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
#comments .comment-meta{
    margin-bottom: 10px;
    margin-bottom: 1rem;
    overflow:hidden;
}
#comments .comment-meta .avatar{
    float:left;
    margin-right: 20px;
    margin-right: 2rem;
}
#comments .comment-meta cite{
    display: block;
}
#comments .commentlist > li .children li{
    list-style-type: none;
    border-top: 1px solid #666;
    padding-top: 10px;
    padding-top: 1rem;
    margin-top: 20px;
    margin-top: 2rem;
}

/* misc */
.form-allowed-tags code{white-space:inherit !important;}
#commentform label{display:block;}
#commentform .required{color:red;}

/* ==========================================================================
 Disclaimer blurb about the views expressed that shows after posts
 ========================================================================== */
#views-disclaimer{
    font-style: italic;
    color: #999;
}

/* ==========================================================================
 Feature image description: shown optionally at top of single.php
 ========================================================================== */
.show-feature-image-description{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 16px;
    line-height: 1.6rem;
    padding-bottom: 8px;
    padding-bottom: 0.8rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;

    color: #767676;
    border-bottom: 1px solid #eee;
}
.show-feature-image-description:before{
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 6px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e046";
}

/* ==========================================================================
 Figure: images with captions that get pulled a bit to the left
 ========================================================================== */
figure{
    margin-left: -160px;
    margin-left: -16rem;

    float: left;
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
    margin-right: 20px;
    margin-right: 2rem;
    margin-top: 6px;
    margin-top: 0.6rem;
    position: relative;
    width: 380px;
    width: 38rem;

    display: block;

    word-wrap: break-word;
}
@media(max-width: 992px){
    figure{
      margin-left: 0;
      margin-bottom: 40px;
      margin-bottom: 4rem;
    }
}
figure img,figure iframe{
    width: 100%;
    display: block;
    border: 0 none;
    word-wrap: break-word;
}
/* Text about the image */
figure figcaption{
    width: 140px;
    width: 14rem;

    background: none repeat scroll 0 0 #ffffff;
    padding-left: 0;
    padding-top: 21px;
    padding-top: 2.1rem;
    position: absolute;
    top: 100%;

    font-size: 13px;
    font-size: 1.3rem;
    line-height: 16px;
    line-height: 1.6rem;

    color: #767676;

    display: block;
}
figure figcaption:before{
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 6px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
figure figcaption.photo:before{
    content: "\e046";
}
figure figcaption.comment:before{
    content: "\e111";
}
figure figcaption.audio:before{
    content: "\e035";
}
figure figcaption.video:before{
    content: "\e009";
}
figure figcaption.stats:before{
    content: "\e185";
}
figure figcaption.picture:before{
    content: "\e060";
}

/* padding on misc images */
.pull-left-with-spacing{
    margin-right: 10px;
    margin-right: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    margin-top: 5px;
    margin-top: 0.5rem;
}
blockquote{
    font-size: 12px;
}
